<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" href="<%= image_url("favicon.png") %>">


    <title>Stephen Chang</title>

    <!-- SEO -->
    <meta name="description" content="Hi! I'm Stephen Chang. I'm a Ruby on Rails developer and a huge sports fantatic."/>
    <meta name="author" content="Stephen Chang">
    <link rel="canonical" href="https://stephenchang.ca" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Stephen Chang" />
    <meta property="og:description" content="Hi! I'm Stephen Chang. I'm a Ruby on Rails developer and a huge sports fantatic." />
    <meta property="og:url" content="https://stephenchang.ca" />
    <meta property="og:site_name" content="Stephen Chang" />
    <link rel="author" href="https://plus.google.com/107888068984196715277"/>
    <!-- end SEO -->
    <!-- CSS -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <!-- End CSS -->

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    <% end %>
    
    <%= yield %>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>

  </body>
</html>
